---
import SkillTag from "./SkillTag.astro";
import Link from "./Link";
import { ArrowIcon } from "./icons";

const {
  title,
  location,
  description,
  skills,
  start,
  end = "Present",
  website,
} = Astro.props["exp"].frontmatter;

const year = `${start} – ${end}`;
---

<li class="mb-12">
  <div
    class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
  >
    <div
      class={[
        "absolute -inset-x-4 -inset-y-4 z-0 hidden",
        "rounded-md transition motion-reduce:transition-none",
        "lg:-inset-x-6 lg:block",
        "lg:group-hover:bg-slate-200/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg",
        "dark:lg:group-hover:bg-slate-800/50",
      ].join(" ")}
    >
    </div>
    <header
      class="z-10 mt-1 mb-2 text-xs font-semibold tracking-wide uppercase sm:col-span-2 text-sky-700 dark:text-slate-500"
      aria-label={year}
    >
      {start} –<br class="hidden sm:block" />
      {end}
    </header>
    <div class="z-10 sm:col-span-6">
      <h3
        class="inline-block font-medium leading-snug dark:text-slate-200 text-slate-900"
      >
        <div>
          <Link href={"#"} aria-label={title + " at " + location}>
            <span
              class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
            >
              <!-- This span is here to allow for the entire hover group effect  -->
            </span>

            <span class="inline-block group/link">
              {title + " · " + location}
              <ArrowIcon
                className={[
                  "inline-block h-4 w-4 shrink-0 transition-transform",
                  "group-hover/link:-translate-y-1 group-hover/link:translate-x-1",
                  "group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1",
                  "motion-reduce:transition-none ml-1 translate-y-px",
                ].join(" ")}
              />
            </span>
          </Link>
        </div>
      </h3>

      {
        typeof description === "string" ? (
          <p class="mt-2 text-sm leading-normal">{description}</p>
        ) : (
          description?.length > 0 && (
            <ul class="ml-3 list-disc">
              {description.map((line: string) => (
                <li class="mt-2 text-sm leading-normal">{line}</li>
              ))}
            </ul>
          )
        )
      }

      <ul class="flex flex-wrap mt-2" aria-label="Technologies used">
        {skills.map((skill: string) => <SkillTag>{skill}</SkillTag>)}
      </ul>
    </div>
  </div>
</li>
