---
import Link from '../../components/Link'
import { h2, section } from '../../components/variants'
import { ArrowIcon, ArrowRightIcon } from '../../components/icons'
import { projects } from '../../data/projects'
---

<section id="projects" class={section()} aria-label="Project">
  <div>
    <h2 class={h2()}>Projects</h2>
    <div class="mb-16 space-y-8">
      {
        projects.slice(0, 3).map((project) => (
          <a class="block group" href={`projects/${project.slug}`}>
            <div class="relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-4 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50 space-y-4 sm:space-y-0">
              <aside class="sm:col-span-2">
                <div class="p-px mt-2 border border-gray-300 rounded dark:border-slate-600" slot="aside">
                  <img
                    src={project.image}
                    height="200"
                    width="300"
                    title={`thumbnail of ${project.title} project`}
                    alt={`thumbnail of ${project.title} project`}
                    class="rounded shadow-sm"
                  />
                </div>
              </aside>
              <main class="sm:col-span-6 space-y-2 ">
                <header>
                  <h2 slot="header" class="font-medium leading-snug dark:text-slate-200 text-slate-900 items-center flex group-hover:text-sky-300">
                    <span>{project.title}</span>
                    <ArrowIcon className="inline-block w-4 h-4 ml-1 relative top-0 left-0 group-hover:-top-1 group-hover:left-1 motion-reduce:transition-none transition-all ease-out duration-100" />
                  </h2>
                </header>
                <p class="mt-2 text-sm leading-normal">{project.description}</p>
              </main>
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <span class="group cursor-pointer flex gap-x-2 items-center">
    <!-- <Link
      className="border-b-2 border-transparent group-hover:border-sky-600 dark:group-hover:border-teal-300 transition-all ease-in duration-100"
      href="https://github.com/aidenberzins"
    >
      View All Projects
    </Link> -->
    <Link
      className="border-b-2 border-transparent group-hover:border-sky-600 dark:group-hover:border-teal-300 transition-all ease-in duration-100"
      href="./projects"
    >
      View All Projects
    </Link>
    <ArrowRightIcon className="inline-block w-4 h-4 ml-1 group-hover:translate-x-1 motion-reduce:transition-none transition-transform ease-out duration-100" />
  </span>
</section>
