---
import Layout from '../../layouts/ProjectLayout.astro'
import Link from '../../components/Link'
import { ArrowIcon } from '../../components/icons'
import { projects } from '../../data/projects'
---

<Layout>
  <ul class="space-y-16">
    {
      projects.map((project) => (
        <li class="block space-y-2 ">
          <Link href={`/projects/${project.slug}`}>
            <div class="space-y-4 group">
              <img src={project.image} alt="" transition:name={`${project.slug}-image`} />
              <h2 class="text-xl flex gap-1 items-center">
                {project.title}
                <span class="top-0 left-0 group group-hover:-top-1 group-hover:left-1 relative transition-all">
                  <ArrowIcon />
                </span>
              </h2>
            </div>
          </Link>
          <p>{project.description}</p>
          <ul class="flex gap-2">
            {project.tags.map((tag) => (
              <li class="bg-sky-100/10 px-2 py-1 rounded text-xs lowercase">{tag}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</Layout>
